@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --white:rgba(255,255,255,.99);
    --black: rgba(10,10,10,10);
    --orange:rgb(255, 174, 1);
    --sm:16px;
    --md:18px;
    --lg:21px;
    }
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
p{    
font-size: var(--sm);
font-family: 'Libre Baskerville', serif;
text-align: left;
padding: 5px;
margin: 25px;
width: 85%;
height: auto;
}

a{
text-decoration: none;
color:var(--white);
transition: .5s;
}
a:hover{
text-decoration: none;
color: var(--orange);
transition: .5s;
}

ul{
width: 90%;
height: auto;
text-decoration: none;
list-style: none;
margin: 25px;
padding: 5px;
}
h1{
font-size: var(--md);
}
.prosa{
    font-style: italic;
    font-size: var(--sm);
    width: 80%;
    margin: 10px;
    padding: 20px;
    height: auto;
    position: absolute;
    color: var(--black);
    background-color: var(--white);
    z-index: 1001;
    }

.creditos{
font-family: 'Libre Baskerville', serif;
font-size: var(--sm);
width: 40%;
height: auto;
background: var(--black);
color:var(--white)
}

.tracklist{
    font-size: var(--sm);
font-family: 'Libre Baskerville', serif;
width: 100%;
height: auto;
z-index: 1000;
box-sizing: content-box;
font-size: 20px;
}

.dark-mode{
    background: var(--black);
    color:var(--white);
}
.titulo{
    color: var(--orange);  
    font-weight: 600; 
}
